.pagination {
    width: 100%;
    font-size: 0.875rem;
    margin-top: 1.428rem;
}
.pagination a:hover {
    text-decoration: none;
}
.pagination a,
.pagination span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    white-space: nowrap;
}
@media (min-width: 768px) {
    .pagination a,
    .pagination span {
        border-radius: 3px;
        border: 1px solid #CCCCCC;
        color: #666666;
        background-color: #ffffff;
        padding: 0 0.5rem;
        margin: 0 4px;
    }
    .pagination span.current {
        color: #ffffff;
        background-color: #4EB5F5;
        border: 1px solid #4EB5F5;
    }

    .pagination span.disabled {
        color: #666666;
        background: #CCCCCC;
        cursor: not-allowed;
    }
}

@media (max-width: 767px) {
    .pagination a,
    .pagination span {
        border-radius: 0;
        border: 0;
        color: #999999;
        background-color: none;
        margin: 0 6px;
    }
    .pagination span.current {
        color: #31AAF5;
        background-color: none;
        border:0;
    }

    .pagination .prevPage,
    .pagination .nextPage{
        color: #333333;
    }

    .pagination span.disabled {
        /* color: #d8d8d8; */
        color: #666666;
        /* background: none; */
        background: #CCCCCC;
        cursor: not-allowed;
    }
}